@model System.Data.DataTable
@using System.Data;

<style>
    .custom-validation-summary ul {
        list-style-type: none;
        color: red;
        padding: 0;
    }
</style> 

<div class="jumbotron">
    <h1>2C2P - Antaresa Mayuda</h1>
    <p class="lead">Software Architect Technical Assignment</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Upload File CSV/XML</h2>

        @using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div style="padding-left:20px">
                <div class="form-group" style="padding-top:20px">
                    <input type="file" id="dataFile" name="upload" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-success" />
                    <input type="submit" value="Clear" class="btn btn-warning" />
                </div>
            </div>
                  
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>

            if (Model != null)
            {
                <table class="table table-bordered col-md-12" style="margin-top:40px">
                    <thead>
                        <tr>
                            <th>Transaction Id</th>
                            <th>Amount</th>
                            <th>Currency Code</th>
                            <th>Transaction Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.Rows)
                        {
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    <td>@row[col.ColumnName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        } 
    </div>
</div>
